.projects-container {
  border: 1px solid gray;
  direction: rtl;
}

.projects-fields-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.projects-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
