.personal-information-container {
  border: 1px solid gray;
  direction: rtl;
}

.personal-information-fields-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.personal-information-fields {
  display: flex;
  flex-direction: column;
}
.personal-information-fields div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
