.linksRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  list-style-type: none;
  gap: 3rem;
}

.linksRoot a {
  text-decoration: none;
  color: aquamarine;
}
