.downLoad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 100vh;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(228, 204, 204, 0.25);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  color: black;
  border-radius: 1px solid black;
  font-size: 1.5rem;
}
