.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: rgb(9, 9, 70);
  color: white;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
