.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.container header {
  font-size: 1.5rem;
  text-decoration: underline;
  overflow: hidden;
}

.form-data-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-data-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  gap: 0.5rem;
}
