.accordionTitle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.internalAccordion {
  max-width: 80%;
}

.accordion-container {
  max-height: 93vh;
  overflow-y: auto;
}

.accordion-container::-webkit-scrollbar {
  width: 8px;
}

.accordion-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}
