.boxForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.formFiledColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formFiledRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
}
